{% import 'macros.html' as m %}

{{ m.konfiglage(konfig) }}
{{ m.legende(['aktion']) }}

<form id="MqttConfig" onsubmit="return false;">
    <p class="sm-hilfe">{{ 'Mqtt.Desc' | trans }}</p>

    {% set f %}<input value="" id="MqttConfig[topic]" name="MqttConfig[topic]" type="text" class="textfield" data-role="none">{% endset %}
    {{ m.row('MqttConfig[topic]', 'Mqtt.LabelTopic' | trans, f, 'Mqtt.HintTopic' | trans) }}

    {% if mqtt_installed %}
        {{ m.haken('MqttConfig[usemqttgateway]', 'Mqtt.LabelUseMqttGateway' | trans, 'Mqtt.HintUseMqttGateway' | trans, '') }}

        {{ m.haken('MqttConfig[registerMqttTopic]', 'Mqtt.LabelRegisterMqttTopic' | trans, 'Mqtt.HintRegisterMqttTopic' | trans, 'gatewayonly') }}

    {% set f %}
    <select id="MqttConfig[forwardMode]" name="MqttConfig[forwardMode]" data-role="none">
        <option value="devices">{{ 'Mqtt.ForwardDevices' | trans }}</option>
        <option value="all">{{ 'Mqtt.ForwardAll' | trans }}</option>
    </select>
    {% if gateway.version >= 2 %}<div class="hint">{{ 'Mqtt.GatewayV2' | trans }}</div>{% endif %}
    {% endset %}
    {{ m.row('MqttConfig[forwardMode]', 'Mqtt.LabelForwardMode' | trans, f, 'Mqtt.HintForwardMode' | trans, 'gatewayonly') }}

    {% set f %}<a href="/admin/system/mqtt-gateway.cgi?form=incoming" target="_blank">{{ 'Common.MqttGatwayIncomming' | trans }}</a>{% endset %}
    {{ m.row('', '', f, '', 'gatewayonly') }}
    {% else %}
    <div class="sm-warnung">{{ 'Common.MqttGatewayNotInstalled' | trans }}</div>
    {% endif %}

    {% set f %}<input value="" id="MqttConfig[server]" name="MqttConfig[server]" type="text" class="textfield" data-role="none">{% endset %}
    {{ m.row('MqttConfig[server]', 'Mqtt.LabelServer' | trans, f, 'Mqtt.HintServer' | trans, 'ownbroker') }}

    {% set f %}<input value="" id="MqttConfig[port]" name="MqttConfig[port]" type="text" class="textfield" data-role="none" inputmode="numeric">{% endset %}
    {{ m.row('MqttConfig[port]', 'Mqtt.LabelPort' | trans, f, 'Mqtt.HintPort' | trans, 'ownbroker') }}

    {% set f %}<input value="" id="MqttConfig[username]" name="MqttConfig[username]" type="text" class="textfield" data-role="none" autocomplete="off">{% endset %}
    {{ m.row('MqttConfig[username]', 'Mqtt.LabelUsername' | trans, f, 'Mqtt.HintUsername' | trans, 'ownbroker') }}

    {% set f %}<input value="" id="MqttConfig[password]" name="MqttConfig[password]" type="password" class="textfield" data-role="none" autocomplete="new-password" data-set="{{ 'Mqtt.PasswordSet' | trans }}">{% endset %}
    {{ m.row('MqttConfig[password]', 'Mqtt.LabelPassword' | trans, f, 'Mqtt.HintPassword' | trans, 'ownbroker') }}

        {{ m.haken('MqttConfig[hausTopics]', 'Mqtt.LabelHausTopics' | trans, 'Mqtt.HintHausTopics' | trans, '') }}
</form>

{{ m.savebutton() }}
